@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<form id="change-password-form" method="post">
    <div class="eight columns">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword" class="u-full-width" />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="u-full-width" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="u-full-width" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        <br />
        <br />
        <button type="submit" class="button button-success">Update password</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
